$black: #151313;
$white: #FFFFFF;
$blue: #005EA5;
$red: #bd1c2c;
$green: #00823B;
$lightgrey: #EFEFEF;
$midgrey: #AAA;
$darkgrey: #555;

$anxiety: #C2CAE6;
$autism: #D4D4C9;
$deaf: #DFD1DA;
$dyslexia: #E7E2CB;
$lowvision: #B1DADF;
$physical: #BEDEDB;
$screenreaders: #C8D8CC;
