
// Homepage card
.card-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  list-style: none;
}

.card {
  border-radius: 0.2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;

  .text {
    padding: 1rem;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    h2.heading-large {
      font-size: 28px;
      margin-top: 5px;

      a {
        color: $black;
        text-decoration: none;
      }
    }

    img {
      align-self: flex-end;
      width: 40%;
      height: auto;
    }
  }
}

.card .text :last-child {
  margin-top: auto;
}

.card:hover {
    box-shadow: 0px 0px 0px 5px rgba(138,138,138,1);
}

.card a:focus {
    text-decoration: underline;
}

.card:focus-within {
    box-shadow: 0px 0px 0px 5px rgba(138,138,138,1);
}

.card:focus-within a:focus {
    text-decoration: none;
}

.card a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

// Block card

.block-card-wrapper {
  list-style: none;
  max-width: 750px;
  margin-top: 30px;
  margin-bottom: 40px;

  li {
    margin-bottom: 1.2em;
  }

  .block-card {
    background-color: #FFF;
    padding: 0.1rem 1.5rem;
    position: relative;
    box-sizing: border-box;

    h2.heading-large {
      font-weight: 400;
      font-size: 26px;
      margin: 18px 0;
    }

    a {
      text-decoration: none;
      color: #000;
    }

    a:hover {
      color: $blue;
    }
  }
}

.block-card--anxiety {
  border-bottom: 3px solid $anxiety;
}

.block-card--anxiety:hover, .block-card--anxiety:focus-within {
  border: 3px solid $anxiety;
  margin: -3px -3px 1.2em -3px;
}

.block-card--autism {
  border-bottom: 3px solid $autism;
}

.block-card--autism:hover, .block-card--autism:focus-within {
  border: 3px solid $autism;
  margin: -3px -3px 1.2em -3px;
}

.block-card--deaf {
  border-bottom: 3px solid $deaf;
}

.block-card--deaf:hover, .block-card--deaf:focus-within {
  border: 3px solid $deaf;
  margin: -3px -3px 1.2em -3px;
}

.block-card--dyslexia {
  border-bottom: 3px solid $dyslexia;
}

.block-card--dyslexia:hover, .block-card--dyslexia:focus-within {
  border: 3px solid $dyslexia;
  margin: -3px -3px 1.2em -3px;
}

.block-card--lowvision {
  border-bottom: 3px solid $lowvision;
}

.block-card--lowvision:hover, .block-card--lowvision:focus-within {
  border: 3px solid $lowvision;
  margin: -3px -3px 1.2em -3px;
}

.block-card--physical {
  border-bottom: 3px solid $physical;
}

.block-card--physical:hover, .block-card--physical:focus-within {
  border: 3px solid $physical;
  margin: -3px -3px 1.2em -3px;
}

.block-card--screenreaders {
  border-bottom: 3px solid $screenreaders;
}

.block-card--screenreaders:hover, .block-card--screenreaders:focus-within {
  border: 3px solid $screenreaders;
  margin: -3px -3px 1.2em -3px;
}

.block-card a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.block-card:focus-within a:focus {
    text-decoration: none;
}

// Poster header

.poster-header {
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 10px solid #AAA;
  margin-bottom: 1.5rem;
}

.anxiety {
  border-bottom: 10px solid $anxiety;
}

.autism {
  border-bottom: 10px solid $autism;
}

.deaf {
  border-bottom: 10px solid $deaf;
}

.dyslexia {
  border-bottom: 10px solid $dyslexia;
}

.lowvision {
  border-bottom: 10px solid $lowvision;
}

.physical {
  border-bottom: 10px solid $physical;
}

.screenreaders {
  border-bottom: 10px solid $screenreaders;
}

// button

.button {
  font-family: 'Inter UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.1875;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: auto;
  margin-top: 0;
  margin-bottom: 22px;
  padding: 7px 10px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #fff;
  background-color: $green;
  -webkit-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
}

.button:hover {
  background-color: darken( $green, 5% )
}

.header-svg {
  width: 120px;
  height: auto;
  padding-left: 10px;
}

@media all and (max-width: 45em) {
  .button {
    width:100%;
  }
}

@media all and (min-width: 60em) {
  .poster-card-item {
    width: 45%;
  }
}

.poster-card__do {
  border-bottom: 5px $green solid;
}

.poster-card__dont {
  border-bottom: 5px $red solid;
}
