.card, .poster-card {
  display: flex;
  flex-wrap: wrap;
}

.card-item, .poster-card-item {
  display: flex;
  padding: 0.5em;
  width: 100%;
}

.poster-card {
  margin-left: -25px;
}

.card-content {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   background-color: $white;
   padding: 1em;
   width: 100%;

   .heading-large {
     font-size: 28px;
   }

   h2 {
     margin-top: 5px;

     a {
       color: $black;
       text-decoration: none;
     }
   }

   img {
     align-self: flex-end;
     width: 40%;
     height: auto;
   }
}

.poster-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $white;
  padding: 1em;
  width: 100%;

  img {
    width: 40%;
    height: auto;
  }
}

@media all and (min-width: 60em) {
  .poster-card-item {
    width: 45%;
  }
}

@media all and (min-width: 40em) {
  .card-item {
    width: 45%;
  }
}
@media all and (min-width: 60em) {
  .card-item {
    width: 31.33%;
  }
}

.poster-card__do {
  border-bottom: 5px $green solid;
}

.poster-card__dont {
  border-bottom: 5px $red solid;
}


.anxiety:hover {
  background-color: $anxiety;
}

a .autism:hover {
  background-color: $autism;
}

a .deaf:hover {
  background-color: $deaf;
}

a .dyslexia:hover {
  background-color: $dyslexia;
}

a .lowvision:hover {
  background-color: $lowvision;
}

a .physical:hover {
  background-color: $physical;
}

a .screenreaders:hover {
  background-color: $screenreaders;
}
