
// Homepage card
.card-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  list-style: none;
}

.card {
  border-radius: 0.2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;

  .text {
    padding: 1rem;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    h2.heading-large {
      font-size: 28px;
      margin-top: 5px;

      a {
        color: $black;
        text-decoration: none;
      }
    }

    img {
      align-self: flex-end;
      width: 40%;
      height: auto;
    }
  }
}

.card .text :last-child {
  margin-top: auto;
}

.card:hover {
    box-shadow: 0px 0px 0px 5px rgba(138,138,138,1);
}

.card a:focus {
    text-decoration: underline;
}

.card:focus-within {
    box-shadow: 0px 0px 0px 5px rgba(138,138,138,1);
}

.card:focus-within a:focus {
    text-decoration: none;
}

.card a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

// Poster card

.poster-card {
  display: flex;
  flex-wrap: wrap;
}

.poster-card-item {
  display: flex;
  padding: 0.5em;
  width: 100%;
  flex-wrap: wrap;
}

.poster-card {
  margin-left: -25px;
}

.poster-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $white;
  padding: 1em;
  width: 100%;

  img {
    width: 40%;
    height: auto;
  }
}

.poster-header {
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 10px solid #AAA;
  margin-bottom: 1.5rem;
}

.anxiety {
  border-bottom: 10px solid $anxiety;
}

.autism {
  border-bottom: 10px solid $autism;
}

.deaf {
  border-bottom: 10px solid $deaf;
}

.dyslexia {
  border-bottom: 10px solid $dyslexia;
}

.lowvision {
  border-bottom: 10px solid $lowvision;
}

.physical {
  border-bottom: 10px solid $physical;
}

.screenreaders {
  border-bottom: 10px solid $screenreaders;
}

// button

.button {
  font-family: 'Inter UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.1875;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: auto;
  margin-top: 0;
  margin-bottom: 22px;
  padding: 7px 10px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #fff;
  background-color: $green;
  -webkit-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
}

.button:hover {
  background-color: darken( $green, 5% )
}

.header-svg {
  width: 120px;
  height: auto;
  padding-left: 10px;
}

@media all and (max-width: 45em) {
  .button {
    width:100%;
  }
}

@media all and (min-width: 60em) {
  .poster-card-item {
    width: 45%;
  }
}

.poster-card__do {
  border-bottom: 5px $green solid;
}

.poster-card__dont {
  border-bottom: 5px $red solid;
}
