body {
  margin: 0;
  background-color: $lightgrey;
}

.hero, main {
  margin: 0 auto;
  max-width: 960px;
  padding: 30px 20px;
}

@media (max-width: 690px) {
  .hero, main {
    padding: 20px 15px;
  }
}

/* for smallest devices -------------------------------------*/
/* Nav */
@media (max-width: 400px) {
  body {
    margin: 0; }
  .homeTitle {
    margin: 10px 0;
    display: block; }
  .homeLink {
    display: block;
    color: black;
    text-align: left;
    text-decoration: underline;
    font-size: 2rem;
    padding: 1.3rem;
    padding-left: 3rem; }
  .guidanceBoxalt {
    display: flex;
    text-align: center;
    margin-bottom: -10px;
    padding: 15px;
    height: 100px; }
    .guidanceBoxalt img {
      margin: auto;
      max-height: 70px;
      max-width: 100px; }
    .guidanceBoxalt p {
      margin: 10px;
      padding-left: 8px;
      padding-right: 45px;
      text-align: left;
      font-size: 16px;
      line-height: 24px; }
  .bottomguidance {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding: 20px 20px 20px 20px; }
    .bottomguidance p {
      margin: 5px;
      text-align: left;
      font-size: 15px;
      line-height: 19px;
      color: #213C2F; }
  .titleFlexParent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem; }
    .titleFlexParent h1 {
      font-size: 23px; }
  .titleFlexChild {
    width: 70%; }
  .headerImage {
    margin: 1rem 0 1rem 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    display: inline; }
  hr {
    margin-top: 0rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 4px solid #E68B5A;
    width: 97%; }
  .link {
    padding-left: 15px;
    letter-spacing: -.4px; }
    .link a h1 {
      font-size: 19px; }
  .icon {
    float: left;
    padding: 16px; }
    .icon svg {
      width: 18px;
      height: 18px; }
  .poster-menu h3 {
    text-align: left;
    padding-top: 20px;
    padding-left: 24px;
    font-size: 19px;
    letter-spacing: -.4px; }
  .bottom-menu {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden; }
    .bottom-menu a {
      display: block;
      text-align: center;
      padding-right: 50px;
      padding-left: 30px;
      padding-top: 10px;
      color: black;
      line-height: normal;
      text-decoration-color: black; }
    .bottom-menu li {
      float: left;
      display: inline; } }

/* Page title */
.titleFlexParent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin: 2rem 0 3rem 0; }

.titleFlexChild {
  width: 70%; }

/* Intro blurb */
.intro {
  margin: 0 0 3.6rem 0; }
  .intro p {
    font-size: 1.8rem;
    margin-left: 0; }

/* Column headers */
.nav {
  overflow: hidden;
  display: inline-block; }

.link {
  padding-left: 20px;
  letter-spacing: -.4px; }

.table {
  display: table;
  margin: 0 auto; }

.doDontHeader {
  text-align: center;
  border-style: solid;
  border-width: 0 0 4px 0;
  padding: 2%; }

/* Guidance boxes */
.guidanceBox img {
  margin: 5rem;
  max-height: 20rem; }

.guidanceBox {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin: 15px;
  padding: 15px;
  height: 180px; }
  .guidanceBox img {
    margin: auto;
    max-height: 100px;
    max-width: 150px; }
  .guidanceBox p {
    margin: 10px;
    text-align: center; }
  .guidanceBox a {
    text-align: center;
    cursor: pointer; }

.moreInfoLink {
  text-decoration: underline; }

/* Sizing for menu page picture box */
.home-intro {
  padding: 0 0 1rem 0; }

.title-line-1 {
  display: block;
  font-size: 2.1rem;
  font-weight: bold; }

.title-line-2 {
  font-size: 3.2rem;
  font-weight: bold; }

.picturebox {
  flex-flow: column;
  text-align: center;
  margin-bottom: 40px; }
  .picturebox img {
    max-width: 90%;
    max-height: 200px; }
  .picturebox a {
    margin-top: 0;
    display: block;
    color: black; }

.full-width {
  padding: 1.5rem;
  background-color: #d4e7f4; }

.home-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .home-img-container img {
    max-width: 50%;
    max-height: 8rem;
    margin: 2rem 0; }


/* for devices wider than a phablet -------------------------------------*/
@media (min-width: 400px) {
  .homeTitle {
    margin: 4.8rem 0 1.6rem 0; }
  .title-line-1 {
    font-size: 5.2rem; }
  .title-line-2 {
    font-size: 5.2rem; }
  .homeLink {
    font-size: 2rem;
    padding: 1.3rem;
    padding-left: 3rem;
    color: black;
    text-decoration: underline; }
  
  .email-footer {
    margin: 4.8rem 0 3.2rem 0; }
  .titleFlexParent {
    margin: 0rem; }
  .modal-body {
    width: 50%; }
  .picturebox img {
    max-width: 70%;
    max-height: 70%; }
  .needsLink {
    font-size: 2.7rem; }
  .headerImage {
    margin: 2rem 0 1rem 0;
    padding-left: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 150px;
    display: inline; }
  .guidanceBoxalt {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: 0px;
    padding: 15px;
    height: 200px; }
  .guidanceBoxalt img {
      margin: auto;
      max-height: 100px;
      max-width: 150px;
      padding: 5px; }
  .guidanceBoxalt p {
      margin: 10px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      font-size: 20px;
      line-height: 24px; }
  .guidanceBoxalt a {
      text-align: center;
      cursor: pointer; }
  .bottomguidance {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 10px;
    padding-right: 65px;
    padding-left: 65px; }
  .bottomguidance p {
      margin: 10px;
      text-align: left;
      font-size: 16px;
      line-height: 22px;
      color: #213C2F; }
  hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 4px solid #E68B5A;
    width: 97%; }
  .link {
    padding-left: 20px; }
  .icon {
    float: left;
    padding: 16px; }
    .icon svg {
      width: 23px;
      height: 23px; }
  .poster-menu h3 {
    text-align: left;
    padding-top: 20px;
    font-size: 24px;
    letter-spacing: -.2px; }
  .bottom-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .bottom-menu a {
      display: block;
      text-align: center;
      padding: 30px;
      color: black;
      line-height: normal;
      text-decoration-color: black; }
  .bottom-menu li {
      float: left;
      display: inline; }

  }
