// Import Inter UI font
@import url('https://rsms.me/inter/inter-ui.css');

body {
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
}

a {
  color: $blue;
}

a:hover {
  color: #2b8cc4;
}

.heading-xlarge {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 0.25em;
}

.heading-large {
  font-size: 32px;
  line-height: 1.3;
}

.heading-medium {
  font-size: 24px;
  line-height: 1.3;
}

.heading-small {
  font-size: 18px;
  line-height: 1.45;
}

.poster-heading-bold {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;
}

.poster-heading {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  line-height: 1.45;
  font-weight: bold;
  color: #444;
}

.lede {
  line-height: 1.45;
  font-size: 20px;
}
.poster-dodont {
  font-size: 22px;
}

.poster-supplement {
  font-size: 17px;
  margin-top: 0;
}

@media (max-width: 640px) {

  .lede {
    line-height: 1.45;
    font-size: 17px!important;
  }

  body p {
    font-size: 15px!important;
  }

  .heading-xlarge {
    font-size: 32px;
  }

  .heading-large, h2 {
    font-size: 24px;
  }

  .heading-medium, h3 {
    font-size: 20px;
  }

}
